body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #0e141b;
    color: #ddd;
  }

  a {
    color: #3ca4af;
  }

  a:visited {
    color: #81c4f8;
  }
}

.box {
  height: 200px;
  width: 200px;
  background: cadetblue;
  margin: 50px auto;
}
